extends layout

block header_scripts
    script(src='/javascripts/raphael.js');
    script(src='/javascripts/planets.js')
    link(href='/stylesheets/planets.css', rel='stylesheet', type='text/css')

block content
    div#signature
        | <b>Planets</b> by <b><a href='http://madisonmay.olinstudents.com' class='gray'>Madison May</a></b>
    h3#temp.light-gray Click + Drag
